@charset "UTF-8";

html {
width : 1500px ;
height : 900px ;
}


/* --- --- 상단 설명 --- --- */
div.head {
	padding : 10px 10px 10px 10px ;
	margin-left : 3%
}
h1.head {
	display : inline-block ;
	margin-left : 3% ;
}

span.head {
	margin-left : 10% ;
}

/* --- --- 검색 조건 창 --- --- */
div.searchbox {
	width : 800px ; 
	padding : 1px 0px 1px 10px ;
	border : 2px solid #dedede ;
	float : left ; 
}

input.timepicker  { /* --- 시간입력창 --- */
	margin-left : 2% ;
}

input { /* --- 입력칸 --- */
	text-align : center ;
}

#fromDate { /* --- 달력 [앞] --- */
	margin-left : 2% ;
}

#toDate { /* --- 달력 [뒤] --- */
	margin-left : 3% ;
}

span.wave { /* --- 날짜 사이 ~ 설정--- */ 
	margin-left : 3% ;
}

input.input1 {
	margin-left : 2%
}

div.date, div.bankaccount, div.statsname {
	margin : 25px 5px 25px 5px ;
}

span.searchbox { /* --- 제목  --- */
	padding : 8px 10px 8px 10px ;
	background-color : #dedede ;
	border-radius : 8px ;
	font-size : 10pt;
}
span.name {
	padding : 8px 10px 8px 10px ;
	margin-left : 20% ;
	background-color : #dedede ;
	border-radius : 8px ;
	font-size : 10pt;
}

select.select1 { 
	width : 15% ;  /* --- 셀렉 박스 길이 --- */
	margin-left : 2% ;
}

/* --- --- 버튼 --- --- */
div.btns {
	float : none ; 
}

button.search, button.excel {
	margin-left : 5% ;
	margin-top : 1% ;
	padding : 4% ;
	border-radius : 15px;
	border : 0px; 
	cursor : pointer ; 
	font-size : 15pt;
	color : #333333 ;
}

button:hover {
	background-color : #7c7c7c ;

}

/* --- --- 테이블 --- --- */

div.table {
	float : left ;
	margin-left : 4% ;
	margin-top : 3% ;
	width: 1250px;
}
table {
	width : 100% ;
	text-align : center ;
	border-collapse: collapse;
	
}

th {
	width : 160px ;
	border: 1px solid #acacac ;
	background-color : #dedede;
}


td {
	border: 1px solid #acacac ;
}

div.table tr:hover {
	background-color : #7c7c7c ;
}